/* General styles */
* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.dot-matrix {
    display: grid;
    gap: 2px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
}

.dot.on {
    background-color: #00ff00;
}
