div {
    padding: 30%;
    text-align: center;
    color: #EEEEEE;
    display: block;
}

.header {
    text-align: start;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.intro {
    background-color: rgb(140, 188, 188);
}

.main {
    background-color: rgb(187, 187, 159);
}

.footer {
    background-color: cadetblue;

}

p {
    color: aliceblue;
}


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}