---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eric Luo</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap">
</head>
<body>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
  <script src="/scripts/script.js" is:inline></script>
</body>
</html>

<style>
  body {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin: 0; /* Remove default margin */
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 160px); /* Adjust height for header and footer */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
</style>
