---
---

<footer class="footer">
    <a href="https://github.com/AWSOMEDUDE00000090" class="github" target="_blank">
      <img src="/external/github-mark.svg" alt="GitHub">
    </a>
  </footer>
  
  <style>
    .footer {
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: #fff;
      border-top: 1px solid #000;
    }
  
    a.github img {
      width: 40px;
      height: 40px;
    }
  </style>
  